* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primario: #fff;
    --fondo: #c0748e;
    --fondo-sobre: #ffe3ed;
    --solapa-sobre: #b95467;
    --cuerpo-sobre: #ffc1d1;
    --sombra: rgba(0, 0, 0, 0.2);
    --texto: #003049;
    --corazon: rgb(34, 20, 56); 
}

body {
    background: var(--fondo);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
    color: #0f0f0f;

}

.contenedor{
    width: 400px;
}

.envoltura-sobre {
    position: relative;
    background-color: var(--fondo-sobre);
    box-shadow: 0 0 40px var(--sombra);
    border-radius: 15px;
}

.sobre{
    position: relative;
    width: 400px;
    height: 300px;
}

.sobre::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    border-top: 180px solid var(--solapa-sobre);
    border-right: 200px solid transparent;
    border-left: 200px  solid transparent ;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
    border-radius: 10px;
    
}

.solapa-derecha {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cuerpo-sobre);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.solapa-izquierda{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cuerpo-sobre);
    clip-path: polygon(0, 0 100%, 100% 100%) ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.carta {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primario);
    text-align: center;
    box-shadow: 0 0 5px var(--sombra);
    padding: 20px;
    border-radius: 10px;
    transition: transform .5s ease-in-out;

}

.contenido {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--texto);
    text-align: left;
    font-size: 12px;
    border: 3px dotted var(--texto);
    padding: 10px;
    height: 100%;
    line-height: 14px;
    cursor: pointer;
    overflow-y: auto;
    box-sizing: border-box;
}


.corazon {
    position: absolute;
    top: 53%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--corazon);
    z-index: 999;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.5s ease-in-out 1s;
    cursor: pointer;
}
.corazon:hover {
    transform: translate(-50%, -50%) rotate(225deg);
}


.corazon::before,
.corazon::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--corazon);
    border-radius: 100%;
}

.corazon::before {
    top: -15px;
}

.corazon::after {
    left: 15px;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #b95467;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cuerpo-sobre);
    border-radius: 4px;
}

@media screen and (max-width: 400px){
    .contenedor{
        width: 300px;
    }
    .sobre{
        width: 300px;
        height: 250px;
    }
    .sobre::before {
        border-top: 150px solid var(--solapa-sobre);
        border-left: 150px solid transparent;
        border-right: 150% solid transparent;
    }
    body{
        
        padding: 20px;
    
    }
}

.abierto .sobre::before {
transform: rotateX(180deg);
z-index: 0;
}

.carta.mostrar-carta {
    transform: translateY(-270px);
    transition: transform .5s ease-in-out;
}

#musica {
    position: fixed;
    top: 20px;
    right: 20px; /* cambia a left si lo quieres a la izquierda */
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0.9;
    z-index: 1000;
}

#musica:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: 0.3s ease;
}


.carta.cerrando-carta{
    transform: translateY(-240px);
    transition: transform .5s ease-in-out;
}

.carta.abierta {
    z-index: 10000;
}